@import "tailwindcss";



body {
  font-family: 'Mondwest';
}

@font-face {
  font-family: "Mondwest";
  src: url("/fonts/PPMondwest-regular.ttf") format("truetype");
}

@font-face {
  font-family: "BigCaslon";
  src: url("/fonts/BigCaslon.ttf") format("truetype");
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}