@import "tailwindcss";


@font-face {
  font-family: Mondwest;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('src/assets/PPMondwest-regular.ttf');
}

@font-face {
  font-family: "MijnFont";
  src: url("/fonts/PPMondwest-regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "MijnFont", sans-serif;
}

body {
  font-family: 'Mondwest';
}

@font-face {
  font-family: "BigCaslon";
  src: url("/fonts/BigCaslon.ttf") format("truetype");
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}